.container 
  display: flex;
  align-items center
  justify-content center
  flex-direction row

input.field
  width gutter(80)
  height gutter(6)
  margin gutter()
  border solid 1px #1565c0
  padding gutter(1)
  font-size 24px
  border-radius gutter(1)

.btn
  font-size 24px
  background black